/* Write your CSS here */
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #2d3a35;
}
p {
  color: #2d3a35;
}
button {
  background-color: #007bff;
  border-style: solid;
  border-width: 0px;
  padding: 5px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
